backend optimism-http-back
    http-request replace-path /optimism(/)?(.*) /\2
	balance leastconn
	mode http
	option httpchk
    http-request set-header Host %b
    http-request set-header Content-Type application/json
    http-check send meth POST uri / ver HTTP/1.1 hdr Content-Type application/json hdr Host %[srv_name] body '{"jsonrpc": "2.0", "method": "eth_syncing", "params": [], "id":1}'
    server optimism.llamarpc.com optimism.llamarpc.com:443 check ssl verify none check-sni optimism.llamarpc.com
    server optimism.drpc.org optimism.drpc.org:443 check ssl verify none check-sni optimism.drpc.org sni str(optimism.drpc.org)
    server op-pokt.nodies.app op-pokt.nodies.app:443 check ssl verify none check-sni op-pokt.nodies.app sni str(op-pokt.nodies.app)
    # ADD your ptivate RPCs for balancing