backend polygon-http-back
    http-request replace-path /polygon(/)?(.*) /\2
	balance leastconn
	mode http
	option httpchk
    http-request set-header Host %b
    http-request set-header Content-Type application/json
    http-check send meth POST uri / ver HTTP/1.1 hdr Content-Type application/json hdr Host %[srv_name] body '{"jsonrpc": "2.0", "method": "eth_syncing", "params": [], "id":1}'
    server polygon.llamarpc.com polygon.llamarpc.com:443 check ssl verify none check-sni polygon.llamarpc.com
    server polygon.drpc.org polygon.drpc.org:443 check ssl verify none check-sni polygon.drpc.org sni str(polygon.drpc.org)
    # ADD your ptivate RPCs for balancing
